<section class="mx-auto">
    <div class="container-fluid">
      
            <div class="row">
                <h1 class="col 12">
                    Portolio

                </h1>

                <p>
                    A monogram is a combination of two or more letters to form a single symbol. Letters can be formed by overlapping or simply connecting letters to each other. Usually, the initials of a name for an individual or a company are chosen to make monograms. Monograms are widely used to identify an individual or an organization or others.
                    Generally, there are four kinds of monograms. The first one is religious monograms, usually used as symbols to represent that religion or its concepts, for example, the famous Chi Rho symbol, a combinations of the first two letter of Greek for Christ, is used to represent Christ. 
                </p>

            </div>

            <div class="row">
                <div class="col-4">
                    <div>
                        <img style="width: 20rem; height: 11.4rem; object-fit: cover;" src="https://cdn.dribbble.com/users/5754239/screenshots/18739717/media/357b12bdc014314f08d632fc8ae89db1.jpg?resize=400x0" class="img-fluid card-img-top" alt="projectPortfolio">
                        <div class="col-12">
                        <h3 class="col-12 mt-3 justify-content-left" style="color:rgb(36, 109, 255)"> Project Name</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. And drop your amazing and super cool porject to showcase here!</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div>
                        <img style="width: 20rem; height: 11.4rem; object-fit: cover;" src="https://akns-images.eonline.com/eol_images/Entire_Site/201613/rs_1024x754-160203160438-1024-coca-cola-ad.jpg?fit=around%7C1024:754&output-quality=90&crop=1024:754;center,top" class="img-fluid card-img-top" alt="projectPortfolio">
                        <div class="col-12">
                        <h3 class="col-12 mt-3 justify-content-left" style="color:rgb(36, 109, 255)"> Project Name</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. And drop your amazing and super cool porject to showcase here!</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div>
                        <img style="width: 20rem; height: 11.4rem; object-fit: cover;" src="https://pbs.twimg.com/media/FEbI_rrVkAAWZ3g.jpg:large" class="img-fluid card-img-top" alt="projectPortfolio">
                        <div class="col-12">
                        <h3 class="col-12 mt-3 justify-content-left" style="color:rgb(36, 109, 255)"> Project Name</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. And drop your amazing and super cool porject to showcase here!</p>
                        </div>
                    </div>
                </div>
                
            </div>
        

    </div>
</section>